.cache
build
plugin.h
.session.vim
.projections.json
__pycache__
.ruff_cache
.mypy_cache
dist
*venv*
config.yaml
MUJOCO_LOG.TXT
src/pybind/mujoco
python/mujoco
config.h
wheels
.env
settings.json
*.egg-info
video*
GEMINI.md
docs/_build
.codex
CLAUDE.md
uv.lock
*.parquet
/data/
/examples/panda/*.lab.json
/extensions/rcs_panda/build_realtime_fix/
